<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/7ebad0fa93.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/assets/css/style.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="#">
          <img src="../public/assets/images/yt_logo.png" alt="My Logo" />
        </a>
        <div class="login">
          <div class="welcome">Welcome, user1</div>
          <div class="btn">
            <button class="button">Logout</button>
          </div>
        </div>
    
      </div>
    
      <div class="content">
        <div id="products">
          <p>Product list</p>
        
          <div class="grid">
            <div class="row">
              <div class="head cell">Name</div>
              <div class="head cell">Price</div>
              <div class="head cell">Stock</div>
              <div class="head cell">Actions</div>
            </div>
            <div class="row">
              <div class="cell">Nodejs</div>
              <div class="cell number">9.99</div>
              <div class="cell number">8</div>
              <div class="cell">
                <i class="fas fa-shopping-cart" title="Add to cart"></i>
              </div>
            </div>
            <div class="row">
              <div class="cell">React</div>
              <div class="cell number">19.99</div>
              <div class="cell number">5</div>
              <div class="cell">
                <i class="fas fa-shopping-cart" title="Add to cart"></i>
              </div>
            </div>
            <div class="row">
              <div class="cell">Angular</div>
              <div class="cell number">29.99</div>
              <div class="cell number">15</div>
              <div class="cell">
                <i class="fas fa-shopping-cart" title="Add to cart"></i>
              </div>
            </div>
          </div>
        </div>
        
        <div style="margin-top: 20px;">
          <hr />
        </div>
        
        <div id="cart">
          <p>Your shopping cart</p>
        
          <div class="grid">
            <div class="row">
              <div class="head cell">Name</div>
              <div class="head cell">Price</div>
              <div class="head cell">Total</div>
              <div class="head cell">Quantity</div>
            </div>
            <div class="row">
              <div class="cell">Nodejs</div>
              <div class="cell number unitPrice">9.99</div>
              <div class="cell number totalPrice">9.99</div>
              <div class="cell center">
                <span title="Decrease" onClick="decreaseQuantity(this);">- </span><input type="number" value=1 /><span
                  title="Increase" onClick="increaseQuantity(this);"> +</span>
              </div>
            </div>
            <div class="row">
              <div class="cell">Angular</div>
              <div class="cell number unitPrice">29.99</div>
              <div class="cell number totalPrice">299.9</div>
              <div class="cell center">
                <span title="Decrease" onClick="decreaseQuantity(this);">- </span><input type="number" value=10 /><span
                  title="Increase" onclick="increaseQuantity(this);"> +</span>
              </div>
            </div>
            <div class="row">
              <div class="cell-total"></div>
              <div class="cell-total"></div>
              <div class="cell-total"></div>
              <div class="cell-total center">Total: <span id="total">309.89</span></div>
            </div>
          </div>
        </div>
        
        <div class="control">
          <div class="btn">
            <button class="button">Place order</button>
          </div>
        </div>
      </div>
    
      <div class="footer">&copy;Copyright by Yen Truong's shop</div>
    </div>
    
  </body>
</html>